@font-face {
    font-family: 'Patrick';
    src: url('Fontes/Roboto-Regular.ttf');
   
}

@font-face {
    font-family: 'Italic';
    src: url('Fontes/Roboto-Italic.ttf')
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    background-image: image-set(url('imgs/fundo.jpg'));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}


.destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.destinos>div{
    border: solid 2px whitesmoke;
    width: 360px;
    height: 660px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: black;
}

.destinos>div>img{
    width: 300px;
    border: solid 2px whitesmoke;
}

.destinos>div>h2{
    font-family: 'Patrick';
    color: aqua;
}

.destinos>div>p{
    font-family: 'Italic';
    
}

.destinos>div>p{
    color: aquamarine;
}


.destinos>div>h2{
    color: aqua;
}

.topo{
    height: 80px;
    background-color: violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img{
    height: 80px;
   
}

.menu{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-around;
}

.menu>li{
    border: solid 2px black;
    border-radius: 20px;
    padding: 5px 15px;
}

.burguer{
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.burguer>div{
    width: 26px;
    border-radius: 10px;
    height: 6px;
    background-color: black;
}

