USE [master]
GO
/****** Object:  Database [db_musica]    Script Date: 17/05/2024 22:02:50 ******/
CREATE DATABASE [db_musica]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_musica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_musica]
GO
USE [db_musica]
GO
/****** Object:  Table [dbo].[CANTOR]    Script Date: 17/05/2024 22:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTOR](
	[cod_cantor] [int] NOT NULL,
	[pais_origem] [varchar](1) NULL,
	[estilo_musica] [varchar](1) NULL,
	[nome_cantor] [varchar](1) NULL,
	[data_nascimento] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cantor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANTOR_MUSICA]    Script Date: 17/05/2024 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTOR_MUSICA](
	[cod_musica] [int] NOT NULL,
	[cod_cantor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_musica] ASC,
	[cod_cantor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPOSITOR]    Script Date: 17/05/2024 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPOSITOR](
	[cod_compositor] [int] NOT NULL,
	[nome_compositor] [varchar](1) NULL,
	[data_nascimento] [numeric](18, 0) NULL,
	[pais_origem] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_compositor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPOSITOR_MUSICA]    Script Date: 17/05/2024 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPOSITOR_MUSICA](
	[cod_compositor] [int] NOT NULL,
	[cod_musica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_compositor] ASC,
	[cod_musica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSICA]    Script Date: 17/05/2024 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSICA](
	[nome_musica] [varchar](1) NULL,
	[estilo_musica] [varchar](1) NULL,
	[mes_ano_lancto] [numeric](18, 0) NULL,
	[cod_musica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_musica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
