* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: image-set(url('fotos/high-quality-ultra-hhd.jpg'));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

input[type=file] {
    display: none;
}

#formAddAdmin {
    margin: 10px auto;
    width: 300px;
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 10px;
}

#formAddAdmin input[type=submit] {
    width: 100px;
    padding: 6px 0;
}

#txtFoto {
    border: solid 1px black;
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
    background-color: purple;
    color: white;
}

.topo {
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 70px;
    line-height: 70px;
    background-image: url(fotos/pode_sim_man.png);
}

.letreiro {
    mix-blend-mode: screen;
    font-size: 30px;
    font-family: protest;
    background-color: yellow;
}

#txtFoto1 {
    display: flex;
}

#txtFoto1>a {
    border: solid 1px black;
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
    background-color: white;
    color: black;
}

#txtFoto1>a:hover {
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
}


.menu {
    display: flex;
}

.menu>a {
    border: solid 1px black;
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
    background-color: white;
    color: black;
}

.menu>a:hover {
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
}

#formAddPokemon {
    margin: 10px auto;
    width: 300px;
    height: 650px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 10px;
}

#formAddPokemon #lblFoto {
    padding: 6px 10px;
    cursor: pointer;
    background-color: #efefef;
    border: solid 1px black;
}

#formAddPokemon input[type=submit] {
    width: 100px;
    padding: 6px 0;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: solid 2px black;
    padding: 2px;
    width: 100%;
}

.cards>div {
    border: solid 1px black;
    margin: 10px;
    width: 300px;
    height: 600px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.59) 0 0 3px 3px;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.cards>div>img {
    max-width: 280px;
}